<div class="image-container">
    <h1>Welcome to GalleryApp</h1>
    <h2>The bests photos and videos from pexels.com</h2>
</div>
<div class="info">
    <p>
        Website created by Jurgen Sanclemente, with the aim of adding it to his portfolio.
        The database used corresponds to pexels.com and will allow us to receive:
    
        <span class="list">
            Photos chosen daily by them<br>
            Videos chosen by them<br>
            Search photos and videos to suit the visitor
        </span>
    </p>
</div>
